.NavGombok button {
    background-color: #0876dc71;
    border-radius: 90px;
    padding-left: 30px;
    padding-right: 30px;
    padding: 12px 25px 12px 25px;
    margin: 5px;
    color: white;
    font-size: large;
    box-shadow: 1px 5px 5px black;
}
.fullNav{
    display: flex;
    background-color: #579BE9;
    height: 70px;
    align-items: center;
    justify-content: flex-start;
}
#profilkep{
    padding: 0;
    background-color: #579BE9;
    box-shadow: none;
}
.userNav{
    margin-left: auto;
    padding-right: 10px;
}
@media screen and (max-width: 1000px) {
    .NavGombok button {
        padding: 10px 20px 10px 20px;
    }
}
@media screen and (max-width: 930px) {
    .NavGombok{
        display: none;
    }
}