.devteam, .podcastteam{
    width: 50%;
    padding: 10px;
    margin: 1em;
    float: left;
}
.placeholderkep{
    width: 85%;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    margin-bottom: 10px;
}
h1, ul{
    text-align: center;
}
h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.pagecontent{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}
.tagcim{
    list-style-type: none;
    font-weight: bold;
    font-size: 1.1em;
}
li{
    margin: 2px;
    font-size: 1.1em;
}
.focim{
    font-size: 1.2em;
    margin-top: 10px;
}
.content{
    background-color: #B7CEF2;
    width: 100%;
    height: 700px;
    border-radius: 15px;
}
.tagokdiv{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}
h2{
    font-size: 2em;
    font-weight: bold;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
}
.tagkepek{
    margin-bottom: 15px;
    background-color: lightgrey;
    border-radius: 15px;
    margin: 25px;
    margin-top: 5px;
}
.kepmegnyito{
    background-color: white;
    box-shadow: none;
    width: 85%;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
    .pagecontent{
        flex-wrap: wrap;
    }
    .devteam, .podcastteam{
        width: 100%;
        padding: 10px;
        margin: 1em;
        float: left;
    }
    .tagokdiv{
        flex-wrap: nowrap;
    }
}

